<div class="card original"
    [class.alternative]="alternative"
    (click)="onClick()">
    <div id="img-container">
        <img id="pokeImage" src="{{pokemonData?.sprites?.front_default}}"> 
    </div>

    <div id="info-container">
        N.°{{pokemonData?.id.toString().padStart(3,'0')}}
        <br>
        {{pokemon?.name}}
    </div>

    <div id="type-container" *ngIf="!alternative">
        <app-type-block [types]="types"></app-type-block>
    </div>
</div>