.card
  background-color: ghostwhite
  -webkit-box-shadow: 6px 7px 13px -4px rgba(105, 85, 105, 1)
  -moz-box-shadow: 6px 7px 13px -4px rgba(105, 85, 105, 1)
  box-shadow: 6px 7px 13px -4px rgba(105, 85, 105, 1)
  border-radius: 10px
  cursor: pointer
  display: inline-block

.original
  width: 23%
  height: 46%
  margin: 1%

.alternative
  width: 19% !important
  height: 40% !important
  margin: 2px !important

h4
  font-family: Arial, Helvetica, sans-serif

#pokeImage
  width: 60%
  max-width: 100%
  height: auto
  border-radius: 15px

#img-container
  background-color: #D1D9FF
  border-top-right-radius: 8px
  border-top-left-radius: 8px
  display: flex
  width: 100%
  height: 70%
  align-items: center
  justify-content: center

#info-container
  width: 100%
  height: 15%
  display: flex
  justify-content: center
  align-items: center
  font-family: Arial, Helvetica, sans-serif
  font-weight: bold
  text-align: center
  font-size: 1.8vh

#type-container
  width: 100%
  height: 14%
  justify-content: center
  align-items: center
  