#type
    float: left
    display: flex
    justify-content: center
    align-items: center
    font-family: Arial, Helvetica, sans-serif
    width: 48%
    height: 90%
    margin: 1%
    border-radius: 5px
    color: white
    font-size: 2.2vh

.bug
    background-color: #89C738

.dark
    background-color: #6E5353

.dragon
    background-color: #7872AD

.electric
    background-color: #F0D23D

.fairy
    background-color: #E099BB

.fighting
    background-color: #F06964

.fire
    background-color: #F02C1F

.flying
    background-color: #6798A1

.ghost
    background-color: #3C2F70

.grass
    background-color: #1CBD3B

.gound
    background-color: #BDA169

.ice
    background-color: #7FE3CF

.normal
    background-color: #BFBBA1

.poison
    background-color: #722079

.psychic
    background-color: #E159A6

.rock
    background-color: #807E3E

.steel
    background-color: #8A8774

.water
  background-color: #3C76E6