$font-family: Arial, Helvetica, sans-serif

#wrapper
    width: 100%
    height: 100%
    background-color: white
    //background-color: rgb(24,27,29)
    opacity: 80%
    
#image-container
    position: absolute
    top: 5%
    left: 5%
    width: 25%
    height: 60%
    display: flex
    justify-content: center

#center-image
    position: absolute
    bottom: 20%
    left: 5%
    width: 25%
    height: 15%
    display: flex
    justify-content: center

#bottom-image
    position: absolute
    bottom: 0
    left: 5%
    width: 25%
    height: 20%
    display: flex
    justify-content: center
    
#data-info-top
    width: 60%
    height: 40%
    position: absolute
    top: 5%
    right: 5%
    display: inline-block

#data-info-bottom
    width: 65%
    height: 50%
    position: absolute
    bottom: 5%
    right: 0

#separator
    width: .5%
    height: 100%
    background-color: white
    top: 0
    right: 64.5%
    opacity: 70%
    position: absolute

#pokeImage
    height: 100%
    width: auto
    cursor: pointer
    margin: 2%
    background-color: rgb(242,242,242)
    border-radius: 10px

h1
    color: black
    font-family: $font-family
    text-align: center
    font-size: 3vh

#loading
    width: 31%
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)

#close
    position: absolute
    right: 0
    top: 0
    width: 50px
    height: 50px
    border: none
    background-color: white
    border-bottom-left-radius: 10px
    color: black
    font-size: 1vw
    text-align: center
    font-family: $font-family
    font-weight: bolder
    cursor: pointer

#types
    width: 100%
    height: 60%
    display: flex
    justify-content: center
    align-items: center
    font-size: 3vh

#egg-group
    width: 20%
    height: 50%
    background-color: #829ABF
    border-radius: 10px
    padding: 2%
    font-family: $font-family
    font-weight: bolder
    font-size: 2.5vh
    float: right

#description
    width: 70%
    height: 50%
    background-color: #829ABF
    border-radius: 10px
    padding: 2%
    font-family: $font-family
    font-weight: bolder
    font-size: 2.5vh
    cursor: pointer

#additional-data
    font-family: $font-family
    display: flex
    justify-content: center

#evolution-line
    margin: 0px

p
    display: inline-block
    margin-left: 5%
    margin-right: 5%
    text-align: center