<div id="wrapper" >
    
    <!--LADO IZQUIERDO DE LA PANTALLA, TARJETA DE POKÉMON CON IMAGEN-->
    <div id="image-container"> 
            <img id="pokeImage" (click)="imageClick()"
            src="{{(shiny) ? pokemonData?.sprites?.front_shiny : pokemonData?.sprites?.front_default}}">    
    </div>

    <div id="center-image">
        <h1>{{pokemonData?.name.toUpperCase()}} 
            <br/>
            N.°{{pokemonData?.id.toString().padStart(3,'0')}}
        </h1>
    </div>

    <div id="bottom-image">
         <app-type-block [types]="types" id="types">
        </app-type-block>
    </div>   

    <!--LADO DERECHO ARRIBA-->
    <div id="data-info-top">
        <div id="egg-group">
            EGG GROUPS:
            <div style="font-weight: normal !important;" 
                *ngFor="let info of pokemonDetailedData?.egg_groups">
                - {{info.name}}
            </div>
        </div>

        <div id="description" (click)="speechDescription()">
            DESCRIPTION:<br>
            <div style="font-weight: normal !important;">{{description}}</div>
        </div>
        <div id="additional-data">
            <p>Happiness: {{pokemonDetailedData?.base_happiness}}</p>
            <p>Capture Rate: {{pokemonDetailedData?.capture_rate}}</p>
            <p>Pokémon Color: {{pokemonDetailedData?.color?.name}}</p>            
        </div>
    </div>

    <!--LADO DERECHO ABAJO-->
    <div id="data-info-bottom" (click)="emitNewPokemon()">
        <h1 id="evolution-line">EVOLUTION LINE</h1><br>
        <app-pokemon-card
            *ngFor="let pokemon of pokemonEvolutionChain"
            [pokemon]="pokemon" [(selectedPokemon)]="selectedPokemon"
            [alternative]="true">
        </app-pokemon-card> 
    </div>
    
</div>

<img (click)="imageClick()" id="loading" *ngIf="false"
    src="https://cdn.dribbble.com/users/621155/screenshots/2835314/simple_pokeball.gif">

<button id="close" (click)="click()">x</button>
