#background
  width: 100%
  height: 100%
  position: absolute
  left: 0
  top: 0
  background-color: #AD242E

#header-left
  position: absolute
  height: 20%
  width: 50%
  top: 0
  left: 0
  display: flex
  justify-content: center
  align-items: center

#header-left
  position: absolute
  height: 20%
  width: 50%
  top: 0
  right: 0

#footer
  position: absolute
  height: 10%
  width: 100%
  bottom: 0
  left: 0

#pokedex-container
  position: absolute
  height: 70%
  width: 96%
  bottom: 10%
  left: 2%
  overflow: auto
  justify-content: center
  border-radius: 10px
  background-color: #ADD7FF
  border-style: inset
  border-color: gainsboro
  border-width: 7px
  -webkit-box-shadow: inset 8px 8px 40px 1px rgb(85, 140, 156)
  -moz-box-shadow: inset 8px 8px 40px 1px rgb(85, 140, 156)
  box-shadow: inset 8px 8px 40px 1px rgb(85, 140, 156)

#search-input
  width: 25%
  padding: 12px 20px
  margin: 8px 8px
  border: 1px solid #ccc
  border-radius: 4px

#search-btn
  height: 55px
  border-radius: 10px
  background-color:#27424F
  border-style: none
  color: white
  width: 55px
  text-align: center
  font-weight: bold

  
  