<div id="background"></div>

<div id="wrapper"></div>

<div id="header-left">
    <input type="text" (keypress)="searchPokemon($event)" id="search-input" placeholder="Search pokémon" [(ngModel)]="pokemonInput">
    <button id="search-btn" (click)="searchPokemon(null)">GO!</button>
</div>

<div id="header-right">
    <div>
        <input>
        <button>buscar</button>
    </div>
</div>

<div id="pokedex-container" style="display: flex; justify-content: center;">
    <div style="width: 80%;">
        <app-pokemon-card *ngFor="let pokemon of pokemons" [pokemon]="pokemon" [(selectedPokemon)]="selectedPokemon"></app-pokemon-card> 
    </div>
</div>

<app-detailed-pokemon
    *ngIf="selectedPokemon"
    id="pokedex-container"
    style="z-index: 5;"
    [(selectedPokemon)]="selectedPokemon">
</app-detailed-pokemon>

<div id="footer"></div>

